name: Docker Image CI


  
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]


jobs:

 build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
    
    - name: Build the Docker image
      run: | 
        cd ./certificate
        docker build  -t  1t234tyio/back_certificate  -f  .
      
    - name: Push Images 
      run:  docker push  1t234tyio/back_certificate
      
    - name: executing remote ssh commands using ssh key
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.DEPLOY_KEY }}
        port: ${{ secrets.PORT }}
        passphrase: ${{ secrets.PASSPHRASE }}
        script: |
          docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}
          docker pull 1t234tyio/back_certificate
          cd ~/cerificate
          docker-compose  up -d

      
